################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/data
/__pycache__
/Json
/VOC2007
/VOC2012
/result
*.pyc
*.pth
*.png



